.bottomBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--bar-color);
    height: 24vh;
    place-items: center;
    margin-top: auto;
    margin-bottom: 0px;

}

.bottomBar.fixed {
    position: fixed;
    bottom: 0px;
}