.home {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    width: 100%;
    overflow: auto;
    height: 100vh;
    background-color: var(--background-color);
}

.optionsBar {
    height: 70px;
    width: calc(100% - 40px);
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.button {
    padding: 10px;
    padding-inline: 20px;
    background-color: rgb(187, 187, 187);
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}
.button:hover{
    background-color: white;
}

.buttonDebug {
    background-color: rgb(182, 110, 110);
    border: none;
    font-size: 120%;
    margin-bottom: 40px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-weight: 600;
}

.buttonDebug.active{
    background-color: rgb(118, 182, 110);

}

.storeName{
    color: var(--text-color);
    position: absolute;
    top: 100px
}

.homeButtons{
    position: absolute;
    display: flex;
    color: var(--text-color);
    bottom: 10px;
    height: auto;
    gap: 20px;

}