.home {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    overflow-y: auto;
    background-color: var(--background-color);
}

.homeImage {
    width: 90%;
}