.fullContainer {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.projectView {
    margin-top: 12vh;
    margin-bottom: 4vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    min-height: 84vh;
    max-height: 1000vh;
    width: 90%;
    /* background-color: turquoise; */
}

.projectViewBox {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 100%;
    width: min(60vh, 100%);
    place-items: center;
    place-content: center;
    /* background-color: brown; */
}

.projectViewImage {
    width: 100%;
    height: auto;
}

.projectViewInfo {
    display: flex;
    /* background-color: rgb(25, 0, 255); */
    width: 100%;
    max-height: 38vh;
    gap: 20px;

}

.projectViewInfoMobile {
    display: none;
}

.projectViewInfoBasic {
    display: flex;
    flex-shrink: 0;
    white-space: nowrap;

    flex-direction: column;
    max-width: 45%;
    width: fit-content;
    /* background-color: aquamarine; */
}

.projectViewInfoBasic>* {
    margin-top: 0px;
    margin-bottom: 10px;
}

.projectViewInfoDescription {
    overflow-y: auto;
    /* background-color: rgba(226, 43, 89, 0.37); */
    margin-top: 0px;
    margin-bottom: 0px;
}

.back {
    margin-top: auto;
    margin-bottom: 0px;
    font-weight: 600;
    /* background-color: white; */
    text-decoration: none;
    color: var(--text-color);

}

.backMobile {
    display: none;
}